# --- System ---
.DS_Store
.vscode/

# --- Python Backend ---
backend/venv/
backend/__pycache__/
*.pyc
.env

# --- Node Frontend ---
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Python
__pycache__/
*.pyc

# Environment Variables (CRITICAL)
.env
.venv
env/
venv/

# Google Secrets (CRITICAL)
token.json
credentials.json
client_secret.json

# IDE
.vscode/
.idea/